*.*~
*.swp
*.swo
*.swn
*.pyc
__pycache__
survey.db
django_survey_csv.egg-info/
survey_test/static/
venv/
.idea/
.vscode/
.project
.pydevproject
.settings/
htmlcov/
.coverage
build/
dist/
.tox/
csv/short-survey.csv
csv/test-management-survey.csv
csv/test-survey.csv
csv/test-survey2.csv
csv/unicode.csv
csv/multipage.csv
csv/expired.csv
csv/in-time-range.csv
csv/no-expire-date-survey.csv
csv/no-publication-date-survey.csv
csv/not-already-visible.csv
csv/multipage-category.csv
